.loginSection
{
	padding-top: 40px;
	padding-left: 20px;
	padding-right: 10px;
	text-align: center;
	display: block;
}

.loginHead
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: bold;
	padding-top: 5px;
	text-align: center;
	position: relative;
	top:7px;
}

.loginText
{
	width: 100%;
	height: 30px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
}

.subBtn
{
	width: 100px;
	height: 30px;
	background-color: #555555;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	color: rgb(255, 255, 255);
	font-weight: bold;
}