nav {
  position:relative;
  left:0px;
  top:-70px;
}

ul {
  width:1000px;
  list-style-type: none;
  overflow: auto;
}

li {
  width:166.67px;
  height:30px;
  float:left;
  text-align:center;
  padding-top:10px;
}

a {
  text-decoration:none;
  color:white;
  font-weight:bold;
  font-size:12pt;
  font-family:Verdana, Arial, Helvetica, sans-serif;
}

li:hover {
  background-color: #4CAF50;
}

li,a:visited {
  color:  #FF7F50;
}