*
{
	margin:0;
	padding:0;
}

body
{
	background-color:#BDB76B;
	background-repeat:repeat-x;
	margin:5px;
	padding:5px;
	background-size: 100% 100%;
}

#wrapper
{
	width:1000px;	/* it determines the total width of page */
	margin:0 auto;
	background-color:#333333;
}

#header
{
	height:160px;	/* header part is divided into 2 parts upper_part and lower_part */
}

.upper
{
	height:120px;
	background-color:#BC8F8F;
}

.upper_right
{
	width:800px;
	height:150px;
	float:right;
	color:rgb(60, 60, 60);
	padding-top:40px;
	font-size:19px;
	font-weight: bold;
	font-family: "Verdana",Arial,Sans-Serif;
	left: 100px;
	right: 5px;
	position: relative;
}

.upper_left
{
	padding:1px 10px 15px 0px;
	width:180px; 
}

.logo
{

	position: relative;
	left: 30px;
	top: 10px;
}


.lower
{
	height: 40px;
}

#content
{
	height:550px;
	width:1000px;
}

.main
{
	height: 510px;
	margin:0 auto;
	background-color: rgb(255, 255, 255);
}

.login
{
  background-color:rgb(154, 159, 164);
  border:1px solid #42464b;
  border-radius:6px;
  height:250px;
  width:400px;
  position: relative;
  left: 300px;
  top:80px;
}

.footer_text
{
	position:relative;
	left:380px;
	top:10px;
	color:#fffefe;
	font-weight: bold;
	font-family: "Verdana",Arial,Sans-Serif;
	font-size:14px;
}
