/* CSS Document */

	.style1 {font-family: "Courier New", Courier,monospace; font-size: medium;}
	.style2 {color: #FFCC00;}
	.style3 {font-size: medium}
	.style8 {font-size: large;color: #000000;font-weight: bold;}