body{
background-image:url(img/bg.jpg);
background-size:100% 700px;
background-repeat:no-repeat;
}
h1{
text-align:center;
color:red;
}
h2{
text-align:center;
color:green;
}
.admission{
background-color:#FF99CD;
width:600px;
margin:0px 0px 0px 430px;
color:#330033;
font-size:18px;
padding:20px;
}
#admission{
margin-left:50px;
}
#male{
color:blue;
}
#name
{
width:300px;
outline:0;
padding:7px;
border-radius:3px;
}
#ph
{
width:65px;
padding:7px;
border-radius:3px;
}
#sub{
width:200px;
padding:7px;
font-size:16px;
font-family:sans-serif;
font-style:italic;
font-weight:600;
border:none;
border-radius:3px;
background-color:red;
color:black;
}
#reset{
width:200px;
padding:7px;
font-size:16px;
font-family:sans-serif;
font-style:italic;
font-weight:600;
border:none;
border-radius:3px;
background-color:red;
color:black;
}
#yes{
color:blue;
}
#course{
width:65px;
padding:7px;
border-radius:3px
}