/* CSS Document */

.update
{
    background-color:#339999;
    color:#FF9900;
    font:"Verdana";
    font-size:20pt; 
    font-weight:bold;
    padding-left: 40px;  
}

ol
{
    color:#003300;
    font:"Verdana";
    font-size:14pt; 
    font-weight:bold;
}

li
{
    padding-bottom:30px;
}